[Unit]
Description=Fitbit Sleep Server
After=docker.service

[Service]
Restart=on-failure
ExecStartPre=/usr/bin/docker build --tag 'fitbit-sleep-server' .
ExecStart=/usr/bin/docker run \
          --name fitbit-sleep-server \
          --volume /etc/fitbit-sleep-server:/config \
          --publish 3030:3030 \
          fitbit-sleep-server
WorkingDirectory=/opt/fitbit-sleep-server
ExecStop=/usr/bin/docker stop -t 15 fitbit-sleep-server
ExecStopPost=/usr/bin/docker rm fitbit-sleep-server
ExecStopPost=/usr/bin/docker build --tag 'fitbit-sleep-server' .

[Install]
WantedBy=multi-user.target
